/* Main Nav
--------------------------------------- */

// Bootstrap overrides
.navbar-default {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 15px;
  .navbar-brand {
    padding-left: 0;
    font-size: 32px;
    color: $brand-primary;
  }
  .navbar-brand:hover {
    color: $brand-info;
  }
  .navbar-nav {
    margin-top: 8px;
    > li > a {
      padding: 5px 8px;
      margin: 0 3px;
    }
    > li > a:hover {
      color: $brand-info;
    }
  }
}

.art_groups, .artworks {
  .nav-artwork {
    @extend .active;
  }
}
.web-development {
  .nav-web-development {
    @extend .active;
  }
}
.profile {
  .nav-profile {
    @extend .active;
  }
}
.contact {
  .nav-contact {
    @extend .active;
  }
}