.artwork-nav {
  margin-top: 15px;
  font-size: 20px;
  display: block;
}
.artwork-wrap {
  margin: 20px 0;
  img.artwork-large {
    width: 100%;
  }
  ul.artwork-details {
    .artwork-title {
      font-size: 20px;
    }
    .spacer {
      margin-top: 10px;
    }
  }
}