.web-development {
  .web-project-list {
    li {
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid $gray-light;
    }
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid $gray-light;
    padding-bottom: 7px;
    margin-top: 70px;
  }
  .web-skills-list {
    h3 {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 3px;
    }
    li {
      margin-bottom: 15px;
    }
  }
}