<div class="row">
  <div class="col-md-8">
    <br />
    <img src="http://kellypackercom.s3.amazonaws.com/pages/butte-america.gif" title="Butte, America" />
    <br />
  </div>
  <div class="col-md-4 sidebar">
    <h3><em>Butte,</em> Montana</h3>
    <p>
      After 10 years in Boise, Idaho, we made a big move.
    </p>
    <hr />
    <p><a class="btn btn-info" href="http://headframes.tumblr.com" title="">Headframes &raquo;</a></p>
  </div>
</div><!--/content-->
