<div class="row">
  <div class="col-md-8">
    <h2><em>current</em> Exhibition</h2>
    <img src="/assets/exhibitions/drawing6-580.jpg" width="580" height="417" title="" />
    <p><em>To Lie With Grace, 5x7" Oil bar on paper, after Silver Valley, Idaho</em></p>
    <div class="exhibition-images">
      <img src="/assets/exhibitions/overview.jpg" title="" />
      <img src="/assets/exhibitions/gnawing.jpg" title="" />
      <img src="/assets/exhibitions/line.jpg" title="" />
      <img src="/assets/exhibitions/title.jpg" title="" />
      <img src="/assets/exhibitions/to-lie.jpg" title="" />
      <img src="/assets/exhibitions/pink-600.jpg" title="" />
      <img src="/assets/exhibitions/yellow.jpg" title="" />
      <img src="/assets/exhibitions/silver-city.jpg" title="" />
      <img src="/assets/exhibitions/environment.jpg" title="" />
      <img src="/assets/exhibitions/front-room.jpg" title="" />
    </div>
  </div>
  <div class="col-md-4 sidebar">
    <h3>For What Comes After</h3>
    <ul class="list-unstyled">
      <li class="end-p lead">Enso Artspace is pleased to present<br/><em>new work by</em> Kelly Packer</li>
      <li><em class="prefix">Reception</em> September 12, 2014 5-8pm</li>
      <li><em class="prefix">Exhibition</em> September 4 - October 10</li>
      <li class="end-p"><em class="prefix">Artist Walkthrough</em> Oct 2 from 5:30-7:30</li>
      <li><h4><a href="http://ensoartspace.com/">Enso Artspace</a></h4></li>
      <li>120 East 38th Street, Unit 105, Garden City</li>
      <li class="end-p"><em class="prefix">Open hours</em> Saturday, Sept 13, 11-4pm &amp;<br/> every Thursday 3-8pm</li>
      <li><em>And always by appointment 406-241-7311</em></li>
    </ul>
    <hr />
    <p>Enso Artspace opens the autumn exhibition schedule with new work by Kelly Packer in “For What Comes After.” In this series Packer investigates the remnants of mining towns of the West. Working from photographs taken during visits to these towns, Packer employs her vibrant color palette to assemble imagery that distills the nature of these quick-to-thrive, quick-to-perish abandoned places. The ominous presence of the mountains, shreds of wallpaper, rust and splintered wood are some of the elements expressed in these works. Also included in this exhibition are richly colored oil stick drawings of noxious plants that overcome these deserted lands.</p>
    <p><a class="btn btn-info" href="http://www.kellypacker.com/portfolio/art_work_by_series/category/for-what-comes-after/" title="Kelly Packer - For What Comes After">View the work &raquo;</a></p>
    <p><a class="btn btn-info" href="http://store.kellypacker.com/" title="Kelly Packer - Shop">Purchase the work &raquo;</a></p>
  </div>
</div><!--/content-->
