<div class="row row-padded">
  <div class="col-md-4">
    <h2>Ruminations / Remediations</h2>
    <p>Upcoming exhibition in May 2018 with <a href="http://www.kathrynwschmidt.com/">Kathy Schmidt</a> at the <a href="https://www.facebook.com/stoplightart/">Stoplight Art</a> in Anaconda. Opening reception Saturday, May 5 from 1-4pm.</p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/stoplight.jpg" title="Stoplight" />
  </div>
  <div class="col-md-4">
    <h2>Bright Bones</h2>
    <p>My artwork is featured on the forthcoming book <em>Bright Bones</em> from <a href="https://opencountrypress.org/#/?_k=rgix9f">Open Country Press</a>. The cover design is by Nann Parrett. The book is an anthology of contemporary Montana writing. Available this May!</p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/bright-bones.jpg" title="Bright Bones" />
  </div>
  <div class="col-md-4">
    <h2>A Glimpse of Clarity</h2>
    <p><a href="http://www.e3gallerymissoula.com/"> E3 Gallery</a> in Missoula is pleased to present the recent works of <a href="https://www.elishaharteis.com/">Elisha Harteis</a> and Kelly Packer in “A Glimpse of Clarity”.</p>
    <p>Join us for an opening reception First Friday, April 6, 2018 from 5-9pm. </a></p>
    <p>Great article about the exhibition by Melissa Mylchreest in the Missoula Independent <br/><a href="http://missoulanews.com/entertainment/artists-elisha-harteis-and-kelly-packer-search-for-clarity-at/article_8188a508-3844-11e8-9169-736460e57ef4.html">Read the article »</a><br/><br/>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/harteis-packer.jpg" title="A Glimpse of Clarity" />
  </div>
  <div class="col-md-4">
    <h2>Community Supported Art (CSA) Prints</h2>
    <p>50 3-color linoleum-block prints each with hand-drawn additions. Extra prints available through the IBRC.</p>
    <p>Individual prints are available through the <a href="https://www.etsy.com/listing/540889197/silver-st-by-kelly-packer?ref=shop_home_active_2">Phoenix Fabrication Studios' Etsy store.</a></p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/csa-prints-ibrc.jpg" title="W. Silver St." />
  </div>
  <div class="col-md-4">
    <h2><em>Terrarium</em></h2>
    <p>Honored to be invited to be a part of this group show at the Visual Art Collective in Garden City, Idaho. Exhibition up through end of July 2017.</p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/terrarium.jpg" title="WHY DID YOU KNOCK DOWN HIS HOLLYHOCKS?" />
  </div>
  <div class="col-md-4">
    <h2><em>100 Years</em>, a Butte Community Exhibition</h2>
    <p> Exhibition up May-June 2017.</p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/END.jpg" title="END, Wyoming St." />
  </div>
  <div class="col-md-4">
    <h2>Cover artwork for <em>Possible Distance</em> by Fred Giacomino</h2>
    <p>Winner of the 2016 Oro Fino Chapbook Competition from Educe Press.</p>
    <p>Available now <a href="https://www.amazon.com/dp/0996571655/ref=tsm_1_fb_lk" title="Possible Distance on Amazon">Amazon</a>.</p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/possible-distance-front.jpg" title="Possible Distance by Fred Giacomino" /><br/>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/possible-distance-back.jpg" title="Possible Distance by Fred Giacomino" />
  </div>
  <div class="col-md-4">
    <h2>Imagine Butte Resource Center CSA (Community Supported Art) 2017</h2>
    <p>I'm excited to be included as an artist in the IBRC's first-ever CSA. Prints will be mailed every quarter. Limited memberships are available on the <a href="http://www.ibrc.me/ibrc-csa-program.html" title="Imagine Butte Resource Center - Community Supported Art">IBRC website</a>. Help support Montana artists and get a lot of great artwork.</p>
      <img src="https://kellypackercom.s3.amazonaws.com/pages/ibra-csa.jpeg" title="Imagine Butte Resource Center - Art CSA - Kelly Packer" />
  </div>
  <div class="col-md-4">
    <h2>Missoula Art Museum Auction</h2>
    <p>My piece <a href="http://www.kellypacker.com/artwork/arrived-at">'ARRIVED AT'</a> will be up for silent auction of the <a href="http://www.missoulaartmuseum.org/index.php/fuseaction/membership.benefit-art-auction" title="Missoula Art Museum 45th Benefit Auction">Missoula Art Museum's 45th Benefit Auction</a> on February 4, 2017.</p>
      <img src="https://kellypackercom.s3.amazonaws.com/pages/missoula-art-museum-auction-45.jpg" title="Missoula Art Museum Auction 45th - Kelly Packer" />
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-4">
    <h2 class="border-top"><em>Bleed Necklace: The Body Undone From Its Error</em></h2>
    <h4 class="two-lines">drawings by Kelly Packer<br/>words by Adrian Kien</h4>
    <h4 class="two-lines">Aunt Dofe's Hall of Recent Memory<br/>102 Main St., Willow Creek, Montana</h4>
    <h4 class="two-lines"><em>Opening Reception:</em> <br/>August 13th 2016 5-10pm<br/> poetry reading at 7:30</h4>
    <p><a href="https://www.facebook.com/events/250687465324482/250916865301542/">More information about the event &raquo;</a></p>
    <p><a href="http://www.kellypacker.com/artwork/series/bleed-necklace">View the work &raquo;</a></p>
  </div>
  <div class="col-md-8">
    <img class="border-top" src="http://kellypackercom.s3.amazonaws.com/pages/kelly-packer-bleed-necklace-1500.jpg" alt="Kelly Packer - Bleed Necklace - August 2016">
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-12">
    <h2 class="border-top">Art Mobile of Montana - 2015/16 Season</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p><a href="http://www.artmobilemontana.org/" title="Art Mobile of Montana">Art Mobile</a> is a van of artwork that travels the huge state of Montana. Along the way they stop at schools, state parks, senior citizens centers and other organizations. The teacher unpacks the exhibit and gives a presentation about the work. With a state as big as Montana, it's an innovative way to bring art to some of the more isolated pockets of the state.</p>
    <p>I feel very fortunate they found me and came to my door to pick up a work that will travel the state. I am honored to be amongst such a diverse and active roster of <a href="http://www.artmobilemontana.org/2015-2016-artists.html" title="Art Mobile Montana - Artist Directory">Montana artists.</a></p>
  </div>
  <div class="col-md-4 sidebar">
    <img src="https://kellypackercom.s3.amazonaws.com/pages/kelly-packer-artmobile.jpg" title="Art Mobile of Montana - Kelly Packer" />
  </div>
  <div class="col-md-4 sidebar">
    <img src="https://kellypackercom.s3.amazonaws.com/pages/art-mobile-of-montana.jpg" title="Art Mobile of Montana" />
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-4">
    <h2 class="border-top"><em>Pithead Chapel</em></h2>
    <p><a href="http://pitheadchapel.com/" title="Pithead Chapel">Pithead Chapel</a> is a small, independent and volunteer-run literary journal and small press founded in Michigan’s Upper Peninsula. They featured my artwork on the cover of the August issue.</p>
    <a href="http://pitheadchapel.com/" title="Pithead Chapel">
      <img src="https://kellypackercom.s3.amazonaws.com/pages/pithead-chapenl-kelly-packer-august-2015-cover.jpg" alt="Kelly Packer - Pithead Chapel - August 2015">
    </a>
  </div>
  <div class="col-md-8">
    <h2 class="border-top"><em>To the Silver Hurt of Home</em> - Clark Chateau</h2>
    <p>I had a show at the Clark Chateau in Butte, Montana in July and August of 2015. The work I created for the show felt very true to Butte as a place. I really enjoyed the people I met through the exhibition and having a show is such a historic setting. <a href="http://www.kellypacker.com/artwork/series/to-the-silver-hurt-of-home">Check out the work &raquo;</a></p>
    <img src="https://kellypackercom.s3.amazonaws.com/pages/chateau-butte.jpg" alt="Clark Chateau - Kelly Packer" style="margin-bottom: 20px;">
    <img src="https://kellypackercom.s3.amazonaws.com/pages/woolman-kelly-packer.jpg" alt="">
  </div>
</div>
