<div class="row">
  <div class="col-md-8">
    <br />
    <img src="http://kellypackercom.s3.amazonaws.com/pages/woolman-kelly-packer.jpg" title="Woolman, Kelly Packer" />
    <br />
  </div>
  <div class="col-md-4 sidebar">
    <h3><em>to the silver hurt of home</em></h3>
    <p>Clark Chateau, Butte Montana</p>
    <p>Opening reception June 5th 5-9pm</p>
    <p>June/July 2015</p>
    <img src="http://kellypackercom.s3.amazonaws.com/pages/chateau-butte.jpg" alt="Clark Chateau" />
    <hr />
    <img src="http://kellypackercom.s3.amazonaws.com/pages/boardman-butte.jpg" alt="Boardman" /><br/>
    <img src="http://kellypackercom.s3.amazonaws.com/pages/hornet-st-butte.jpg" alt="Hornet" />
  </div>
</div><!--/content-->
