<div class="group home container content">
  <div class="five columns">
    <div id="intro" class="group">
      <h2><em>recent</em> Work</h2>
      <a href="/portfolio/art_work_by_series/category/look-up/" title="Look Up - Kelly Packer"><img src="/assets/brain-220.jpg" width="220" height="220" alt="Before and After and You Arrived" /></a>
      <a href="https://www.etsy.com/listing/101826739/look-up-limited-edition-book-by-kelly" title="Look Up - Kelly Packer: Etsy"><img src="/assets/look-up-book.jpg" width="220" height="220" alt="Look Up - Book" /></a>
    </div>
  </div>
  <div class="five columns">
    <div class="look_up_side">
      <h3 class="subtitle">Growing where you<br/> had been the actual earth;</h3>
      <h2 class="look_up_title">Look <br />Up</h2>
      <p class="link"><a href="/portfolio/art_work_by_series/category/look-up/" title="Look Up - Kelly Packer">View the work &raquo;</a></p>
      <p class="link"><a href="http://www.flickr.com/photos/ensoartspace/sets/72157630521973468/" title="Look Up - Kelly Packer: Flickr">View installation images from the exhibition &raquo;</a></p>
      <h4>The Book</h4>
      <p><em>Look Up</em> is a 32-page, full-color book of drawings by Kelly Packer and poetry by Adrian Kien. The book features 10 beautifully reproduced images of oil bar drawings. Each piece is accompanied by a poem.</p>
      <p><a href="https://www.etsy.com/listing/101826739/look-up-limited-edition-book-by-kelly" title="Look Up - Kelly Packer: Etsy">Purchase the book on Etsy &raquo;</a></p>
    </div>
  </div>
  <div class="six columns">
    <div class="sidebar">
      <h2><em>upcoming</em> Exhibitions</h2>
      <ul class="upcoming">
        <li><em>works on paper</em> / <a href="http://ensoartspace.com/">Enso Artspace</a> - Boise</li>
        <li><em>What the Wind Blew In</em> / <a href="http://pcfadanforth.org/">Danforth Gallery</a> - Livingston, Montana</li>
      </ul>
      <h2><em>recent</em> News</h2>
      <ul>
        <li>
            <h5><a href="http://www.dwellandtell.com/2012/08/kelly-packer-q-n-art-crush-part-2.html">An interview with Kelly Packer</a></h5>
            <p>Part 2 from Dwell & Tell is a Q&A about inspiration, process and materials.</p>

        </li>
      </ul>
    </div>
  </div>
</div><!--/content-->
