<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">Artist <em>and</em> Developer</h1>
    <p class="lead">I am an artist and web developer living in beautiful Butte, Montana. Currently, and for the past 6 years, I work with a passionate team of doers at <a href="http://www.creativesoapbox.com">Creative Soapbox</a>. I am co-founder of <a href="http:/ensoartspace.com">Enso Artspace</a>, an artist collective with an exhibition space located in Garden City, Idaho.</p>
    <p>My artwork combines identifiable, organic shapes and unrecognizable forms in vibrant large scale paintings and intimate works on paper. It has appeared in galleries and alleys from Massachusetts to Ontario and in various books and literary journals. My paintings were chosen for the 2010 Boise Art Museum Triennial exhibition and in 2009 I was awarded an artist in residency through BODO's AiR program. I often collaborates on projects with my husband, the poet Adrian Kien. We spent a year living in France, where I explored the landscape and created new bodies of work. <a href="http://ensoartspace.com" title="Enso Artspace">ensoartspace.com</a></p>
    <div class="row">
      <div class="col-md-12">
<!--         <img id="profile-image" class="pull-left thumbnail" src="/assets/xray.jpg" alt="xray">
 -->
        <h2>Press</h2>
        <p><a href="http://www.idahostatesman.com/2013/01/03/2399381/artists-take-risks-with-unfinished.html">Boise First Thursday: Artists take risks with 'Unfinished'</a><br>(Idaho Statesman - Jan 3, 2012)</p>
        <p><a href="http://themetaq.com/articles/meta-qa-kelly-packer">Meta Q&amp;A: Kelly Packer</a><br>(Nov 6, 2012)</p>
        <p><a href="http://www.dwellandtell.com/2012/08/kelly-packer-q-n-art-crush-part-2.html">Kelly Packer Q&amp;A (Art Crush Part 2)</a><br>(Aug 30, 2012)</p>

        <p><a href="http://www.boiseweekly.com/boise/nathan-dang-and-kelly-packer-at-vac/Content?oid=2454258">Nathan Dang and Kelly Packer at VAC</a><br>(Boise Weekly - Aug 10, 2011)</p>
        <p><a href="http://www.boiseweekly.com/gyrobase/Content?oid=oid%3A213792"><strong>Bones and Piss</strong><br>
    Artist Kelly Packer exalts the commonplace</a><br>Featured artist article by Katy Dang<br>
    (Boise Weekly - Nov 8, 2006)</p>
        <p><a href="http://www.idahostatesman.com/localnews/story/657625.html">New Boise program gives temporary homes to artistic process</a><br>
        (Idaho Statesman - Feb 5, 2009)</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="influences">
      <h3>Influences</h3>

      <h4><a href="http://www.nytimes.com/slideshow/2008/01/24/arts/0125-DIEB_index.html" title="New York Times Slideshow about Richard Diebenkorn">Richard Diebenkorn</a></h4>
      <a href="http://www.nytimes.com/slideshow/2008/01/24/arts/0125-DIEB_index.html" title="New York Times Slideshow about Richard Diebenkorn"><img src="/assets/diebenkorn.jpg" width="250" height="100" alt="Ocean Park #107 by Richard Diebenkorn"></a>

      <h4><a href="http://www.jessereno.com" title="Jesse Reno">Jesse Reno</a></h4>
      <a href="http://www.jessereno.com" title="Jesse Reno"><img src="/assets/reno.jpg" width="250" height="100" alt="Jess Reno"></a>

      <h4><a href="http://images.google.com/images?q=willem+de+kooning&amp;oe=utf-8&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;um=1&amp;ie=UTF-8&amp;ei=3dSlSvPBJJCusgP1jtGNDw&amp;sa=X&amp;oi=image_result_group&amp;ct=title&amp;resnum=1" title="Google images of paintings by Willem de Kooning">Willem de Kooning</a></h4>
      <a href="http://images.google.com/images?q=willem+de+kooning&amp;oe=utf-8&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;um=1&amp;ie=UTF-8&amp;ei=3dSlSvPBJJCusgP1jtGNDw&amp;sa=X&amp;oi=image_result_group&amp;ct=title&amp;resnum=1" title="Google images of paintings by Willem de Kooning"><img src="/assets/dekooning.jpg" width="250" height="100" alt="Willem de Kooning"></a>

      <h4><a href="http://en.wikipedia.org/wiki/Paul_Klee" title="Paul Klee">Paul Klee</a></h4>
      <a href="http://en.wikipedia.org/wiki/Paul_Klee" title="Paul Klee"><img src="/assets/klee.jpg" width="250" height="100" alt="Paul Klee"></a>

      <h4><a href="http://www.last.fm/music/Cat+Stevens/_/Can%27t+Keep+It+In" title="Cat Stevens - Can't Keep It In">Cat Stevens</a></h4>
      <a href="http://www.last.fm/music/Cat+Stevens/_/Can%27t+Keep+It+In" title="Cat Stevens - Can't Keep It In"><img src="/assets/catstevens.jpg" width="250" height="100" alt="Cat Stevens"></a>

      <h4><a href="http://www.dosbox.com/" title="DOSBox">DOS games</a></h4>
      <a href="http://www.dosbox.com/" title="DOSBox"><img src="/assets/kq3.gif" width="250" height="100" alt="King's Quest III"></a>


    </div>
  </div>
</div>
