<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">Artist <em>and</em> Developer</h1>
    <div class="row">
      <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="thumbnail pull-left profile-image-wrap">
          <img src="https://kellypackercom.s3.amazonaws.com/pages/kelly-packer-sm.jpg" alt="Kelly Packer" />
          <div class="caption">
            <a href="http://natecroft.com/" title="Nate Croft"><em>Photo by Nate Croft</em></a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-8 col-xs-12">
        <div class="profile-text">
          <p class="lead">I am an artist and web developer living in beautiful Butte, Montana. Currently I work with the good people at <a href="http://www.visualchefs.com" title="Visual Chefs">Visual Chefs</a> writing javascript and such.</p>
          <p>My artwork combines identifiable, organic shapes and unrecognizable forms in vibrant large scale paintings and intimate works on paper. Although my subjects range from anatomy to self-portraits to cityscapes, my work consistently reveals the inner and underlying structure of things. I often collaborate on projects with my husband, the poet Adrian Kien. I am co-founder of Enso Artspace, an artist collective with an exhibition space located in Garden City, Idaho. <a href="http://ensoartspace.com" title="Enso Artspace">ensoartspace.com</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <h2>Press</h2>
        <p><a href="http://themetaq.com/articles/meta-qa-kelly-packer">Meta Q&amp;A: Kelly Packer</a><br>(Nov 6, 2012)</p>
        <p><a href="http://www.dwellandtell.com/2012/08/kelly-packer-q-n-art-crush-part-2.html">Kelly Packer Q&amp;A (Art Crush Part 2)</a><br>(Aug 30, 2012)</p>
        <p><a href="http://www.boiseweekly.com/boise/nathan-dang-and-kelly-packer-at-vac/Content?oid=2454258">Nathan Dang and Kelly Packer at VAC</a><br>(Boise Weekly - Aug 10, 2011)</p>
        <p><a href="http://www.boiseweekly.com/gyrobase/Content?oid=oid%3A213792"><strong>Bones and Piss</strong><br>
          Artist Kelly Packer exalts the commonplace</a><br>Featured artist article by Katy Dang<br>
          (Boise Weekly - Nov 8, 2006)</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="influences">
      <h3>Influences</h3>

      <h4><a href="http://www.nytimes.com/slideshow/2008/01/24/arts/0125-DIEB_index.html" title="New York Times Slideshow about Richard Diebenkorn">Richard Diebenkorn</a></h4>
      <a href="http://www.nytimes.com/slideshow/2008/01/24/arts/0125-DIEB_index.html" title="New York Times Slideshow about Richard Diebenkorn"><img src="/assets/diebenkorn.jpg" width="250" height="100" alt="Ocean Park #107 by Richard Diebenkorn"></a>

      <h4><a href="http://www.jessereno.com" title="Jesse Reno">Jesse Reno</a></h4>
      <a href="http://www.jessereno.com" title="Jesse Reno"><img src="/assets/reno.jpg" width="250" height="100" alt="Jess Reno"></a>

      <h4><a href="http://images.google.com/images?q=willem+de+kooning&amp;oe=utf-8&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;um=1&amp;ie=UTF-8&amp;ei=3dSlSvPBJJCusgP1jtGNDw&amp;sa=X&amp;oi=image_result_group&amp;ct=title&amp;resnum=1" title="Google images of paintings by Willem de Kooning">Willem de Kooning</a></h4>
      <a href="http://images.google.com/images?q=willem+de+kooning&amp;oe=utf-8&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;um=1&amp;ie=UTF-8&amp;ei=3dSlSvPBJJCusgP1jtGNDw&amp;sa=X&amp;oi=image_result_group&amp;ct=title&amp;resnum=1" title="Google images of paintings by Willem de Kooning"><img src="/assets/dekooning.jpg" width="250" height="100" alt="Willem de Kooning"></a>

      <h4><a href="http://en.wikipedia.org/wiki/Paul_Klee" title="Paul Klee">Paul Klee</a></h4>
      <a href="http://en.wikipedia.org/wiki/Paul_Klee" title="Paul Klee"><img src="/assets/klee.jpg" width="250" height="100" alt="Paul Klee"></a>

      <h4><a href="https://www.youtube.com/watch?v=396fAkPwSPQ" title="Cat Stevens">Cat Stevens</a></h4>
      <a href="https://www.youtube.com/watch?v=396fAkPwSPQ" title="Cat Stevens"><img src="/assets/catstevens.jpg" width="250" height="100" alt="Cat Stevens"></a>

      <h4><a href="http://www.dosbox.com/" title="DOSBox">DOS games</a></h4>
      <a href="http://www.dosbox.com/" title="DOSBox"><img src="/assets/kq3.gif" width="250" height="100" alt="King's Quest III"></a>

    </div>
  </div>
</div>
