<div class="row">
  <div class="col-md-8">
    <h1 class="page-header"><em>Web</em> Developer</h1>
    <p>I love to create beautiful, usable applications with Javascript and things like Angular.ks, Backbone.js, HTML5 Canvas and Ruby on Rails. I fell in love with code when I bought my first HTML book in 2003. It was fascinating that you could make web sites equipped with only a text-editor and some DIY books. It's a profession for self-taught, independent thinkers and I am proud to be a part of it.</p>
    <p> Currently, I work with a passionate team of doers at <a href="http://www.creativesoapbox.com" title="Creative Soapbox">Creative Soapbox</a>. We work collaboratively on all our projects; primarily I am responsible for the front-end work: HTML, CSS, Javascript and CMS implementation, which ranges from Rails to Django to ExpressionEngine.</p>
    <div class="web-project-list">
      <h3>Projects with the Creative Soapbox team include:</h3>
      <ul class="list-unstyled">
        <li>
          <h4>Pearson ERPI</h4>
          <h5>Node.js &amp; HTML5 canvas web application</h5>
          <p>Educational web application used to teach elementary and middle school students French language comprehension and math. Used in classrooms via an interactive SMART Board. Javascript, Node.js, Backbone.js, HTML5 Canvas.</p>
        </li>
        <li>
          <h4>Central Diagnostic System (CDS) Web Application</h4>
          <h5><a href="http://cdswabtec.com">cdswabtec.com</a></h5>
          <p>Web application for MotivePower that receives, stores and displays data from the Central Diagnostics System (CDS). CDS monitors locomotive location, status and fleet diagnostics in real-time. Ruby on Rails, Backbone.js.</p>
        </li>
        <li>
          <h4>Friesen Gallery</h4>
          <h5><a href="http://friesengallery.com">friesengallery.com</a></h5>
          <p>Website for high-end gallery that integrates with their art management system, <a href="http://www.artlogic.net/">Artlogic</a>. Responsive design, powered by Django.</p>
        </li>
        <li>
          <h4>Speak For the Trees</h4>
          <h5><a href="http://speakforthetreesbook.com">speakforthetreesbook.com</a></h5>
          <p>Beautiful website showcasing Speak For The Trees, an inspiring and powerful publication featuring work from 76 important artists from around the world. Site powered by ExpressionEngine and integrates with the ecommerce platform FoxyCart.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Skills</h2>
    <ul class="list-unstyled web-skills-list">
      <li>
        <h3>Javascript</h3>
        <p>Experience developing large-scale javascript applications with Backbone.js, Node.js, Coffeescript</p>
      </li>
      <li>
        <h3>HTML/CSS</h3>
        <p>Standards-compliant code that is compatible with modern browsers and responsive to tablet and mobile devices</p>
      </li>
      <li>
        <h3>Web Application Frameworks/<br>
        CMS Implementation</h3>
        <p>Ruby on Rails, Django, ExpressionEngine, WordPress</p>
      </li>
      <li>
        <h3>Databases</h3>
        <p>MySQL, PostgreSQL and NoSQL (MongoDB)</p>
      </li>
      <li>
        <h3>Git</h3>
        <p>Version control system</p>
      </li>
      <li>
        <h3>Adobe Creative</h3>
        <p>Proficient in Photoshop, Illustrator and InDesign</p>
      </li>
      <li>
        <h4>Email Campaigns</h4>
        <p>Designing email campaigns with MailChimp and Campaign Monitor</p>
      </li>
    </ul>
  </div>
</div>