<div class="row">
  <div class="col-md-7">
    <h1 class="page-header"><i class="fa fa-code"></i> <em>Web</em> Developer</h1>
    <p>I am a senior web developer at <a href="http://www.fostermade.co" title=Foster Made">Foster Made</a>.</p>

    <p>I love to create beautiful, usable applications with Javascript and things like React, React Native, Angular, and HTML5 Canvas. I fell in love with code when I bought my first HTML book in 2003. I thought it was fascinating that you could build web sites by using Notepad and reading some DIY books. It's a profession for self-taught, independent thinkers and I am proud to be a part of it.</p>
  </div>
</div>
