<div class="row">
  <div class="col-md-7">
    <h1 class="page-header"><em>Web</em> Developer</h1>
    <p>I love to create beautiful, usable applications with Javascript and things like Angular.js, Backbone.js, HTML5 Canvas and Ruby on Rails. I fell in love with code when I bought my first HTML book in 2003. I thought it was fascinating that you could build web sites by using Notepad and reading some DIY books. It's a profession for self-taught, independent thinkers and I am proud to be a part of it.</p>
    <p>Currently, and for the past 6 years, I work with a passionate team of doers at <a href="http://www.creativesoapbox.com" title="Creative Soapbox">Creative Soapbox</a>. We work collaboratively on all our projects; primarily I am responsible for the front-end work: HTML, CSS, Javascript. I also develop and integrate with various web frameworks and CMSs: from Ruby on Rails to Django to ExpressionEngine.</p>
    <div class="web-project-list">
      <h3 class="double-underline">Selected projects with the Creative Soapbox team include:</h3>
      <ul class="list-unstyled">
        <li>
          <div class="project-wrap">
            <span>client</span>
            <h4>Pearson ERPI</h4>
            <span>project</span>
            <h5>Node.js &amp; HTML5 canvas web application</h5>
            <p>Educational web application used to teach elementary and middle school students French language comprehension and math. Used in classrooms via an interactive SMART Board. Javascript, Node.js, Backbone.js, HTML5 Canvas.</p>
            <span>my role</span>
            <ul>
              <li>Architecting the application</li>
              <li>Developing application with Fabric.js (HTML canvas library), Express (Node.js), Backbone.js, Jade templates</li>
              <li>Developing and documenting JSON API</li>
              <li>Working closely with client to develop functionality inline with business needs</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="project-wrap">
            <span>client</span>
            <h4>MotivePower</h4>
            <span>project</span>
            <h5>Central Diagnostic System (CDS) Web Application</h5>
            <h5><a href="http://cdswabtec.com">cdswabtec.com</a></h5>
            <p>Web application for MotivePower that receives, stores and displays data from the Central Diagnostics System (CDS). CDS monitors locomotive location, status and fleet diagnostics in real-time. Ruby on Rails, Backbone.js.</p>
            <span>my role</span>
            <ul>
              <li>Developing the front-end of application using Backbone.js</li>
              <li>Interactive charts</li>
              <li>Integrating with Ruby on Rails backend</li>
              <li>HTML, ERB &amp; Eco Templates, Sass</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="project-wrap">
            <span>client</span>
            <h4>Friesen Gallery</h4>
            <h5><a href="http://friesengallery.com">friesengallery.com</a></h5>
            <span>project</span>
            <p>Website for high-end gallery that integrates with their art management system, <a href="http://www.artlogic.net/">Artlogic</a>. Responsive design, powered by Django.</p>
            <span>my role</span>
            <ul>
              <li>Developing script to integrate artworks and artists in JSON Feeds from Artlogic</li>
              <li>Developing website with Django</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="project-wrap">
            <h4>Speak For the Trees</h4>
            <h5><a href="http://speakforthetreesbook.com">speakforthetreesbook.com</a></h5>
            <span>project</span>
            <p>Beautiful website showcasing Speak For The Trees, an inspiring and powerful publication featuring work from 76 important artists from around the world. Site powered by ExpressionEngine and integrates with the ecommerce platform FoxyCart.</p>
            <span>my role</span>
            <ul>
              <li>Developing site with ExpressionEngine</li>
              <li>Integrating FoxyCart to facilitate ecommerce</li>
              <li>HTML, CSS from Photoshop mockups</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h2>Skills</h2>
    <ul class="list-unstyled web-skills-list">
      <li>
        <h3>Javascript</h3>
        <p>Experience developing javascript applications with Backbone.js, Node.js, Angular.js, Gulp.js and Coffeescript (although on that point I am not totally convinced)</p>
      </li>
      <li>
        <h3>HTML/CSS</h3>
        <p>Standards-compliant code that is compatible with modern browsers and responsive to tablet and mobile devices</p>
      </li>
      <li>
        <h3>Web Application Frameworks/<br>
        CMS Implementation</h3>
        <p>Ruby on Rails, Django, ExpressionEngine, WordPress</p>
      </li>
      <li>
        <h3>Databases</h3>
        <p>MySQL, PostgreSQL and NoSQL (MongoDB)</p>
      </li>
      <li>
        <h3>Version control</h3>
        <p>Git</p>
      </li>
      <li>
        <h3>Adobe Creative</h3>
        <p>Proficient in Photoshop, Illustrator and InDesign</p>
      </li>
      <li>
        <h4>Email Campaigns</h4>
        <p>Managing email campaigns with MailChimp and Campaign Monitor</p>
      </li>
    </ul>
  </div>
</div>
