<div class="row admin-table-header">
  <div class="col-md-12 clearfix">
    <h1>Media</h1>
    <%= link_to("New medium", new_admin_medium_path, class: "btn btn-primary pull-right") %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'list' %>
  </div>
</div>
