<div class="row admin-table-header">
  <div class="col-md-12 clearfix">
    <h1>Artworks</h1>
    <%= link_to("New Artwork", new_admin_artwork_path, class: "btn btn-primary pull-right") %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'list' %>
  </div>
</div>
