<h1 class="page-header"><%= @art_group.title %></h1>
<div class="row">

  <% @artworks.each do |artwork| %>
    <div class="col-md-4">
      <%= link_to artwork_path(artwork) do %>
        <%= image_tag artwork.image.url(:medium), :alt => artwork.title, :class => "" %>
        <h6><%= artwork.title %></h6>
      <% end %>
    </div>
  <% end %>
</div>
