.art_groups {
  .nav-art-groups {
    @extend .active;
  }
  .container {
    form {
      margin-bottom: 40px;
    }
  }
}
.artworks {
  .nav-artworks {
    @extend .active;
  }
}
.media {
  margin-top: 0;
  overflow: auto;
  .nav-media {
    @extend .active;
  }
}
