body {
  font-family: $font-family-serif;
}

// Helpers
.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

img.pull-left {
  margin-right: 15px;
  margin-bottom: 15px;
}

.double-underline {
  border-bottom: double $gray-light;
  padding-bottom: 5px;
  margin-bottom: 15px;
}


.page-header {
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: none;
  margin: 30px 0 10px;
  em {
    text-transform: none;
  }
}
