<footer>
  <div class="col-md-8">
    <ul class="list-inline list-unstyled">
      <li>
        <a href="http://kellypacker.etsy.com/" title="Kelly Packer's Etsy Shop">
          My Etsy Shop
        </a>
      </li>
      <li>
        <a href="http://www.flickr.com/photos/kellypacker/collections/72157606984861567/" title="Kelly Packer's Flickr Photos">
          Flickr <i class="fa fa-lg fa-flickr"></i>
        </a>
      </li>
      <li>
        <a href="http://instagram.com/kellypacker" title="Kelly Packer on Instagram">
          <i class="fa fa-lg fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="http://journal.kellypacker.com" title="Tumblr Journal for Kelly Packer">
          <i class="fa fa-lg fa-tumblr-square"></i>
        </a>
      </li>
      <li>
        <a href="http://www.twitter.com/kellypacker/" title="Kelly Packer on Twitter">
          <i class="fa fa-lg fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/kellypacker" title="Kelly Packer on Github">
          <i class="fa fa-lg fa-github"></i>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/kellypacker" title="Kelly Packer on LinkedIn">
          <i class="fa fa-lg fa-linkedin"></i>
        </a>
      </li>
      <li><a href="http://zerply.com/kellypacker" title="Kelly Packer on Zerply">Zerply</a></li>
    </ul>

  </div>
  <div class="col-md-4 pull-right text-right no-padding-right ">
    <p>&copy; 2003-<%= Time.now.year %> Kelly Packer. All rights reserved.</p>
  </div><!-- footer-row -->
</footer>
